body {
  margin: 0;
  background-color: whitesmoke;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trybewarts-login {
  display: flex;
  height: 25 px;
  font-size: 20px;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

.trybewarts-header-logo {
  width: 75px;
  height: 75px;
}

#trybewarts-header-title {
  color: white;
}

main , #evaluation-form {
  display: flex;
}

#evaluation-form {
  width: 675px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
  align-self: flex-end;
}

#first {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0;
}

#second {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 10px 0;
}

#house {
  width: 185px;
}

.container {
  display: flex;
}

#third {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px 0;
  margin-right: 80px;
}

#checkbox-content {
  display: flex;
  flex-flow: column;
  width: 70%;
  margin: 10px 8px;
}

#checkbox-content div {
  display: inline-flex;
  flex-flow: wrap;
  width: 180px;
}

#rate-content {
  display: flex;
  flex-flow: row;
  width: 70%;
  margin: 10px 0;
}

button {
  color: white;
  background-color: purple;
  border: none;
  border-radius: 4px;
  width: 55px;
  height: 25px;
  margin: 25px;
}

footer {
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 50px;
}

main {
  margin-top: 35px;
}
